// Variables
$font: Arial, Helvetica, sans-serif;

// Outline
header {
    font-family: $font;
    font: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.712);
  }

  body {
    background-color:  grey;
    font-family: $font
  }

  footer {
    background-color: white;
    font-family: $font;
  }

// About Us
.name {
    text-align: center;
}
.gang {
    text-align: center;
    display: block;
}

// Contact Us
#page_title {
    position: absolute; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%); 
    padding-top: 2.25em;
}