// Variables
$font: Arial, Helvetica, sans-serif;
$menu_bar_font-color: white;

// Outline
header {
    font-family: $font;
    font: bold;
    color: $menu_bar_font-color;
    background-color: rgba(0, 0, 0, 0.712);
  }

  body {
    background-color:  grey;
    font-family: $font
  }

  footer {
    background-color: white;
    font-family: $font;
  }

// Menu Bar
.mystery_machine {
    width: 50px; 
    padding-top: 3px;
}

.menu_button {
    color: $menu_bar_font-color;
}

.page_title {
    position: absolute; 
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%); 
    padding-top: 2.25em;
}
// About Us
.name {
    text-align: center;
}
.gang {
    text-align: center;
    display: block;
}

// Contact Us
