header {
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.712);
}

body {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.mystery_machine {
  width: 50px;
  padding-top: 3px;
}

.menu_button {
  color: white;
}

.page_title {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-top: 2.25em;
}

.name {
  text-align: center;
}

.gang {
  text-align: center;
  display: block;
}
